.col-xl-12.video-list {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-bottom: 15px;
    padding-left: 0;
}
.video-list .left-section {
    display: inline-block;
    width: 125px;
    vertical-align: top;
}	
.video-list .right-section {
    width: 160px;
    display: inline-block;
    vertical-align: top;
}
.video-list .right-section h5 {
    margin: 0;
}
.timeline-video span.description {
    display: inline-block;
    float: left;
}
.timeline-video span.icon {
    display: inline-block;
    float: right;
    margin-top: 24px;
}
.timeline-video .user-pic, p.timeline-video-comment, .timeline-video-reply p, .timeline-video-reply a {
    display: inline-block;
}
.timeline-video-reply {
    clear: both;
    padding-left: 20px;
}
.TimelineCurrVideo {
    display: inline-block;
}
.timeline-video-reply p {
    color: #999;
    padding-right: 10px;
}
.right-section p{
color: #999;
}
.ThumpsUp span {
    display: block;
    float: left;
    margin-right: 3px;
    background: #66bb6a;
    height: 20px;
    width: 20px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    margin-top: 3px;
}
.ThumpsUp, .ThumpsDown {
    float: left;margin-left: 9px;
}
.ThumpsDown span{
	    background: #ef5350;
	    display: block;
    float: left;
    margin-right: 3px;
    height: 20px;
    width: 20px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    margin-top: 3px;
}
.ThumpsUp a, .ThumpsDown a{
 color:#adadad;
}

.Comment-section {
    width: 83%;
    float: left;
}
.comment-button {
    float: left;
    margin-left: 15px;
}
.put-user-comment:after {
    display: block;
    clear: both;
    content: "";
}